html, body{
    height:100%;
}

.flip-vertical{
    transform: scaleY(-1);
}
body {
    /* background-color: #ebe1e1; */
    height:100%;
    background: linear-gradient(to bottom, pink 60%, white 100%);
    background-repeat: no;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}



#headers {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 50px;
    padding: 100px;
}

footer{
    display: flex;
    justify-content: space-between; /* Space between left and right text */
    align-items: center; /* Center vertically */
    font-family: "Concert One", cursive;
    color:#145e42;
}
footer p{
    float:center;
    font-size:28px;
    margin:0;
    font-family:"Concert One";
    color:#145e42;
}


.name {
    position: relative;
    top: 5vw;
    text-align: center;
    line-height: 1.5;
    font-size: 90px;
    font-family: "Concert One";
    color: #177356;
    font-weight: 100;
    line-height: 20rem;
    /* display: inline-block; */
    animation: rotateBackForth 1s ease-in-out infinite;
    animation-iteration-count: 1;
}
@keyframes rotateBackForth {
    0%, 100% {
        transform: rotate(0deg); /* Starting and ending point */
    }
    25% {
        transform: rotate(-3deg); /* Rotate to the left */
    }
    50% {
        transform: rotate(0deg); /* Back to center */
    }
    75% {
        transform: rotate(3deg); /* Rotate to the right */
    }
}


#rectangle {
    position: absolute;
    border-radius: 55px;
    background: white;
    padding: 20px;
    width: 800px;
    height: 400px;
    top: 30rem;
    left: 65%;
    transform: translateX(-50%);
    opacity: 40%;
}

#info {
    position: absolute;
    width: 90%;
    max-width: 780px;
    left: 65%;
    top: 34rem;
    transform: translateX(-50%);
    font-family: "Concert One";
    font-weight: 100;
    font-size: 20px;
    color: #000000;
    line-height: 2.25;
    text-align: center;
}

#homeimg {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    opacity: 45%;
    overflow-x:hidden;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 4;
    overflow-x:hidden;

}

h1 {
    position: relative;
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#holding-shampoo {
    position: absolute;
    top: 30rem;
    left: 7rem;
    z-index: -1;
    /* background-image:linear-gradient(to top, transparent,#ebe1e1 75%); */

}

#holding-shampoo img {
    height: 50%;
    width: 50%;
}

ul {
    z-index: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a44266;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    z-index: 0;
    float: right;
    padding: 15px;
    font-size: 28px;
    background-color: #a44266;
    font-family: "Concert One";
}

.homebutton {
    position: fixed;
    left: 0;
    top: -.5vw;
    padding: 15px;
    font-size: 25px;
    font-family: "Concert One";
    color: #e8c0cf;
}

.homebutton:hover {
}

li a {
    display: flex;
    color: #e8c0cf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-bar a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: #24033a;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}


.message-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #177356;
    background-image: url('chatbot/message-icon.png');
    background-size: contain;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.message-button:hover {
    background-color: #145e42;
}

#home{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    font-size: 80px;
    font-family: "Jersey 25";
    text-align: center;
    color: rgb(201, 113, 127);
}

#why-care{
    position:absolute;
    /* top:0%;
    left:50%; */
    top: 46%; 
    left:20%; 
    transform: translate(-50%, -50%);
    font-family:"Concert One";
    font-size:60px;
    color:white;
    z-index:-1;
}

#why-care-rectangle{
    position: absolute;
    display:block;
    border-radius: 55px;
    background: white;
    padding: 20px;
    width: 400px;
    height: 525px;
    top: 50%;
    left: 20%;
    transform: translateX(-50%);
    opacity: 50%;
}

 #why-care-blurb{
    position:absolute;
    top: 53%; 
    left:6%; 
    padding:10px;
    font-family:"Concert One";
    text-align:center;
    justify-content:center;
    font-size:18px;
    color:#145e42;
    z-index:0; 
    line-height:2.5;
 }

 .rotating-leaf{
    font-family: "Concert One";
    font-size: 200px;
    display: inline-block;
    animation: rotate 3s infinite ease-in-out; 
    position:absolute;
    right:20%;
    top:60%;
 }
 @keyframes rotate {
    0% {
        transform: rotate(-10deg); /* Start angle */
    }
    50% {
        transform: rotate(10deg); /* End angle */
    }
    100% {
        transform: rotate(-10deg); /* Return to start angle */
    }
}

 .fade-in {
    opacity: 0; /* Start invisible */
    transform: translateY(20px); /* Slightly shift down */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Smooth transition */
}

.fade-in.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

#explore{
    font-family:"Concert One";
    color:#145e42;
    font-size:50px;
    text-align:center;
    padding-top:60px;

}


.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left:0;
    border-left:0;
    left:0px;
    padding: 10px 0;
    border-bottom: 1px solid #145e42;
    border-width:100%;
}

.pic {
    height: auto;
    margin-right: 20px;
    transition: opacity 0.3s ease; 
    z-index:0;
}

.pic:hover{
    opacity:0.5;
    z-index:0;
}

.text {
    flex: 1;
    font-family:"Concert One";
    color:#000000;
    text-align:center;
    margin:0;
}

.text h3 {
    margin: 0;
    font-size: 2em;
    font-family:"Concert One";
    color:#d35cc9;
    padding-bottom:50px;
}
/* FLASHCARD */

.container {
    text-align: center;
}

.flashcard {
    width: 300px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 20px;
    margin: auto;
}

.flashcard:hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
}

#card-content {
    font-size: 1.2em;
    padding: 20px;
}

.buttons {
    margin-top: 10px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.add-card-form {
    margin-top: 20px;
}

.add-card-form input {
    padding: 8px;
    margin: 5px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-card-form button {
    padding: 8px 20px;
}

